absl-py==0.7.1
apache-beam==2.12.0
astor==0.8.0
avro-python3==1.8.2
cachetools==3.1.0
certifi==2019.3.9
chardet==3.0.4
crcmod==1.7
cycler==0.10.0
dill==0.2.9
Django==2.2.1
docopt==0.6.2
fastavro==0.21.23
future==0.17.1
gast==0.2.2
google-api-core==1.11.0
google-auth==1.6.3
google-cloud-automl==0.2.0
googleapis-common-protos==1.5.10
grpcio==1.20.1
h5py==2.9.0
hdfs==2.5.2
httplib2==0.11.3
idna==2.8
image==1.5.27
joblib==0.13.2
Keras==2.2.4
Keras-Applications==1.0.7
Keras-Preprocessing==1.0.9
kiwisolver==1.1.0
Markdown==3.1
matplotlib==3.1.0
mock==2.0.0
numpy==1.16.3
oauth2client==3.0.0
pbr==5.2.0
Pillow==6.0.0
protobuf==3.7.1
pyarrow==0.11.1
pyasn1==0.4.5
pyasn1-modules==0.2.5
pydot==1.2.4
pyparsing==2.4.0
python-dateutil==2.8.0
pytz==2019.1
PyYAML==3.13
requests==2.22.0
rsa==4.0
scikit-learn==0.21.1
scipy==1.3.0
six==1.12.0
sqlparse==0.3.0
tensorboard==1.13.1
tensorflow==1.13.1
tensorflow-estimator==1.13.0
termcolor==1.1.0
urllib3==1.25.2
Werkzeug==0.15.4
